In [421]:
import json
import requests
import pandas as pd
import numpy as np

In [422]:
df1 = pd.read_csv("df_new_final/df_new1.csv", index_col=0)
df2 = pd.read_csv("df_new_final/df_new2.csv", index_col=0)
df3 = pd.read_csv("df_new_final/df_new3.csv", index_col=0)
df4 = pd.read_csv("df_new_final/df_new4.csv", index_col=0)
df5 = pd.read_csv("df_new_final/df_new5.csv", index_col=0)
df6 = pd.read_csv("df_new_final/df_new6.csv", index_col=0)
df7 = pd.read_csv("df_new_final/df_new7.csv", index_col=0)
df8 = pd.read_csv("df_new_final/df_new8.csv", index_col=0)

In [423]:
master = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])
master = master.reset_index(drop=True)

In [446]:
a = master[master['distance'] == 0]
a = a.reset_index(drop=False)
a

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,16,이태원제1동,신당제1동,126.995038,37.532522,NaN,NaN,이태원제1동신당제1동,0,0.0,0
1,17,등촌제3동,등촌제3동,126.847881,37.558979,126.847881,37.558979,등촌제3동등촌제3동,0,0.0,0
2,35,고척제1동,고척제1동,126.862860,37.500463,126.862860,37.500463,고척제1동고척제1동,0,0.0,0
3,46,이문제3동,둔촌제2동,NaN,NaN,127.141922,37.533288,이문제3동둔촌제2동,0,0.0,0
4,128,이문제3동,오금동,NaN,NaN,126.913800,37.667400,이문제3동오금동,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2071,32414,영등포동,김포1동,126.910692,37.520398,NaN,NaN,영등포동김포1동,0,0.0,0
2072,32420,제기제2동,풍무동,NaN,NaN,126.722039,37.602219,제기제2동풍무동,0,0.0,0
2073,32428,신대방제2동,신당제6동,126.924408,37.498442,NaN,NaN,신대방제2동신당제6동,0,0.0,0
2074,32456,면목제3.8동,성수1가제1동,NaN,NaN,127.049650,37.542108,면목제3.8동성수1가제1동,0,0.0,0
2075,32471,송중동,김포1동,127.033738,37.616099,NaN,NaN,송중동김포1동,0,0.0,0

In [447]:
# 바뀌어야 하는 행정동 이름 딕셔너리화
repl = {"제기제2동" : "제기동",
        "이문제3동" : "이문3동",
        "이문제2동" : "이문2동",
        "상도제1동" : "상도1동",
        "가능1동" : "가능동",
        "신당제4동" : "신당4동",
        "신당제3동" : "신당3동",
        "장안제4동" : "장안2동",
        "신당제6동" : "신당6동",
        "신당제1동" : "신당1동",
        "전농제3동" : "전농3동",
        "김포1동" : "김포본동",
        "면목제3.8동" : "면목3.8동",
        "장안제1동" : "장안1동",
        "장안제3동" : "장안1동",
        "신당제2동" : "신당2동",
        "명륜3가동" : "명륜3가",
        "답십리제4동" : "답십리4동",
        "제기제1동" : "제기동",
        "답십리제3동" : "답십리3동",
        "김포2동" : "장기본동",
        "전농제2동" : "전농2동",
        "의정부3동" : "의정부1동",
        "가능3동" : "흥선동",
        "검단4동" : "당하동",
        "검단3동" : "원당동",
        "신도동" : "삼송동",
        "교하읍" : "교하동",
        "가능2동" : "흥선동"
        }
for i in range(len(a)):
    tt = a['start'][i]
    if tt in list(repl.keys()):
        a.loc[i, 'start'] = repl.get(tt)
for i in range(len(a)):
    tt = a['end'][i]
    if tt in list(repl.keys()):
        a.loc[i, 'end'] = repl.get(tt)
a

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,16,이태원제1동,신당1동,126.995038,37.532522,NaN,NaN,이태원제1동신당제1동,0,0.0,0
1,17,등촌제3동,등촌제3동,126.847881,37.558979,126.847881,37.558979,등촌제3동등촌제3동,0,0.0,0
2,35,고척제1동,고척제1동,126.862860,37.500463,126.862860,37.500463,고척제1동고척제1동,0,0.0,0
3,46,이문3동,둔촌제2동,NaN,NaN,127.141922,37.533288,이문제3동둔촌제2동,0,0.0,0
4,128,이문3동,오금동,NaN,NaN,126.913800,37.667400,이문제3동오금동,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2071,32414,영등포동,김포본동,126.910692,37.520398,NaN,NaN,영등포동김포1동,0,0.0,0
2072,32420,제기동,풍무동,NaN,NaN,126.722039,37.602219,제기제2동풍무동,0,0.0,0
2073,32428,신대방제2동,신당6동,126.924408,37.498442,NaN,NaN,신대방제2동신당제6동,0,0.0,0
2074,32456,면목3.8동,성수1가제1동,NaN,NaN,127.049650,37.542108,면목제3.8동성수1가제1동,0,0.0,0
2075,32471,송중동,김포본동,127.033738,37.616099,NaN,NaN,송중동김포1동,0,0.0,0

In [448]:
for i in range(len(a)):
    a.loc[i, 'direction'] = a['start'][i] + a['end'][i]
a

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,16,이태원제1동,신당1동,126.995038,37.532522,NaN,NaN,이태원제1동신당1동,0,0.0,0
1,17,등촌제3동,등촌제3동,126.847881,37.558979,126.847881,37.558979,등촌제3동등촌제3동,0,0.0,0
2,35,고척제1동,고척제1동,126.862860,37.500463,126.862860,37.500463,고척제1동고척제1동,0,0.0,0
3,46,이문3동,둔촌제2동,NaN,NaN,127.141922,37.533288,이문3동둔촌제2동,0,0.0,0
4,128,이문3동,오금동,NaN,NaN,126.913800,37.667400,이문3동오금동,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2071,32414,영등포동,김포본동,126.910692,37.520398,NaN,NaN,영등포동김포본동,0,0.0,0
2072,32420,제기동,풍무동,NaN,NaN,126.722039,37.602219,제기동풍무동,0,0.0,0
2073,32428,신대방제2동,신당6동,126.924408,37.498442,NaN,NaN,신대방제2동신당6동,0,0.0,0
2074,32456,면목3.8동,성수1가제1동,NaN,NaN,127.049650,37.542108,면목3.8동성수1가제1동,0,0.0,0
2075,32471,송중동,김포본동,127.033738,37.616099,NaN,NaN,송중동김포본동,0,0.0,0

# 지오코딩하기

In [449]:
ID = "oj07ksld9r"
Key = "cZFYnF6LDvNPP0N04sRZUVWwywbyrMPSJyVwXLcp"
# URL 설정
url = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode"

# 헤더 설정
headers = {'X-NCP-APIGW-API-KEY-ID' : ID, 'X-NCP-APIGW-API-KEY' : Key}

In [450]:
for i in range(len(a)):
    if np.isnan(a['startlat'][i]):
        params = {'query' : a['start'][i]}
        json_data = requests.get(url, headers=headers, params=params).json()
        a.loc[i, 'startlat'] = json_data['addresses'][0]['x']
        a.loc[i, 'startlng'] = json_data['addresses'][0]['y']
a

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,16,이태원제1동,신당1동,126.995038,37.532522,NaN,NaN,이태원제1동신당1동,0,0.0,0
1,17,등촌제3동,등촌제3동,126.847881,37.558979,126.847881,37.558979,등촌제3동등촌제3동,0,0.0,0
2,35,고척제1동,고척제1동,126.86286,37.500463,126.862860,37.500463,고척제1동고척제1동,0,0.0,0
3,46,이문3동,둔촌제2동,127.065075,37.6033571,127.141922,37.533288,이문3동둔촌제2동,0,0.0,0
4,128,이문3동,오금동,127.065075,37.6033571,126.913800,37.667400,이문3동오금동,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2071,32414,영등포동,김포본동,126.910692,37.520398,NaN,NaN,영등포동김포본동,0,0.0,0
2072,32420,제기동,풍무동,127.0378551,37.5831612,126.722039,37.602219,제기동풍무동,0,0.0,0
2073,32428,신대방제2동,신당6동,126.924408,37.498442,NaN,NaN,신대방제2동신당6동,0,0.0,0
2074,32456,면목3.8동,성수1가제1동,127.0880603,37.5829681,127.049650,37.542108,면목3.8동성수1가제1동,0,0.0,0
2075,32471,송중동,김포본동,127.033738,37.616099,NaN,NaN,송중동김포본동,0,0.0,0

In [451]:
for i in range(len(a)):
    if np.isnan(a['endlat'][i]):
        params = {'query' : a['end'][i]}
        json_data = requests.get(url, headers=headers, params=params).json()
        a.loc[i, 'endlat'] = json_data['addresses'][0]['x']
        a.loc[i, 'endlng'] = json_data['addresses'][0]['y']
a

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,16,이태원제1동,신당1동,126.995038,37.532522,127.0145478,37.5620973,이태원제1동신당1동,0,0.0,0
1,17,등촌제3동,등촌제3동,126.847881,37.558979,126.847881,37.558979,등촌제3동등촌제3동,0,0.0,0
2,35,고척제1동,고척제1동,126.86286,37.500463,126.86286,37.500463,고척제1동고척제1동,0,0.0,0
3,46,이문3동,둔촌제2동,127.065075,37.6033571,127.141922,37.533288,이문3동둔촌제2동,0,0.0,0
4,128,이문3동,오금동,127.065075,37.6033571,126.9138,37.6674,이문3동오금동,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2071,32414,영등포동,김포본동,126.910692,37.520398,126.7057,37.6275987,영등포동김포본동,0,0.0,0
2072,32420,제기동,풍무동,127.0378551,37.5831612,126.722039,37.602219,제기동풍무동,0,0.0,0
2073,32428,신대방제2동,신당6동,126.924408,37.498442,127.0194239,37.5600562,신대방제2동신당6동,0,0.0,0
2074,32456,면목3.8동,성수1가제1동,127.0880603,37.5829681,127.04965,37.542108,면목3.8동성수1가제1동,0,0.0,0
2075,32471,송중동,김포본동,127.033738,37.616099,126.7057,37.6275987,송중동김포본동,0,0.0,0

# 길찾기 API 사용

In [452]:
# 기타 설정
distance = []
duration = []
taxiFare = []

In [453]:
a

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,16,이태원제1동,신당1동,126.995038,37.532522,127.0145478,37.5620973,이태원제1동신당1동,0,0.0,0
1,17,등촌제3동,등촌제3동,126.847881,37.558979,126.847881,37.558979,등촌제3동등촌제3동,0,0.0,0
2,35,고척제1동,고척제1동,126.86286,37.500463,126.86286,37.500463,고척제1동고척제1동,0,0.0,0
3,46,이문3동,둔촌제2동,127.065075,37.6033571,127.141922,37.533288,이문3동둔촌제2동,0,0.0,0
4,128,이문3동,오금동,127.065075,37.6033571,126.9138,37.6674,이문3동오금동,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2071,32414,영등포동,김포본동,126.910692,37.520398,126.7057,37.6275987,영등포동김포본동,0,0.0,0
2072,32420,제기동,풍무동,127.0378551,37.5831612,126.722039,37.602219,제기동풍무동,0,0.0,0
2073,32428,신대방제2동,신당6동,126.924408,37.498442,127.0194239,37.5600562,신대방제2동신당6동,0,0.0,0
2074,32456,면목3.8동,성수1가제1동,127.0880603,37.5829681,127.04965,37.542108,면목3.8동성수1가제1동,0,0.0,0
2075,32471,송중동,김포본동,127.033738,37.616099,126.7057,37.6275987,송중동김포본동,0,0.0,0

In [455]:
# direction 5 API에 대한 ID, Key 입력
dir_5_ID = "34ccv8fv16"
dir_5_Key = "i82WVXIB9EO75oXXTkwX1w6YLRgqQvmpAKOoBgJO"

# direction 15 API에 대한 ID, Key 입력
dir_15_ID = "34ccv8fv16"
dir_15_Key = "i82WVXIB9EO75oXXTkwX1w6YLRgqQvmpAKOoBgJO"

In [456]:
## 여기는 수정하지 마세요!

# 헤더 설정
headers_5 = {'X-NCP-APIGW-API-KEY-ID' : dir_5_ID, 'X-NCP-APIGW-API-KEY' : dir_5_Key}
headers_15 = {'X-NCP-APIGW-API-KEY-ID' : dir_15_ID, 'X-NCP-APIGW-API-KEY' : dir_15_Key}

In [457]:
for i in range(len(a)):
    slat = a['startlat'][i]
    slng = a['startlng'][i]
    elat = a['endlat'][i]
    elng = a['endlng'][i]
    url = f"https://naveropenapi.apigw.ntruss.com/map-direction/v1/driving?start={slat},{slng}&goal={elat},{elng}"
    try:
        document = requests.get(url, headers=headers_5).json()
        a.loc[i,'distance'] = document['route']['traoptimal'][0]['summary']['distance']
        a.loc[i,'duration'] = document['route']['traoptimal'][0]['summary']['duration'] / 1000
        a.loc[i,'taxiFare'] = document['route']['traoptimal'][0]['summary']['taxiFare']
    except:
        a.loc[i,'distance'] = 0
        a.loc[i,'duration'] = 0
        a.loc[i,'taxiFare'] = 0

In [618]:
master_join = master.reset_index(drop = False)

In [619]:
master_join_set = master_join.drop(mindex)

In [620]:
master_new = pd.concat([master_join_set, a], axis = 0).sort_values(by = 'index').reset_index(drop = True)

In [621]:
master_new = master_new.drop('index', axis=1)

In [622]:
master_new

,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,장위제1동,회기동,127.043713,37.614125,127.055313,37.590808,장위제1동회기동,4289,648.464,5600
1,면목제7동,상계1동,127.086985,37.578995,127.054978,37.679901,면목제7동상계1동,14493,1318.675,13700
2,정릉제3동,수유제3동,127.004186,37.608958,127.023125,37.638715,정릉제3동수유제3동,4869,864.161,6200
3,고척제2동,은천동,126.858712,37.506706,126.942428,37.485309,고척제2동은천동,10247,1652.785,11000
4,회기동,장위제2동,127.055313,37.590808,127.054521,37.61239,회기동장위제2동,3778,598.639,5200
...,...,...,...,...,...,...,...,...,...,...
32513,여의동,서초2동,126.934584,37.517723,127.02496,37.49208,여의동서초2동,12440,2427.647,15200
32514,쌍문제4동,아현동,127.028425,37.656482,126.95215,37.547125,쌍문제4동아현동,20739,3568.953,21300
32515,상암동,방화제2동,126.894688,37.578325,126.806755,37.5667,상암동방화제2동,11459,1536.186,13490
32516,반포1동,방배2동,127.013507,37.505089,126.985511,37.479744,반포1동방배2동,5665,1115.243,7200
32517,구의제3동,오남읍,127.09202,37.538071,127.204712,37.698876,구의제3동오남읍,30032,2316.442,29630

# master_new

In [623]:
sameindex = master_new[master_new['start'] == master_new['end']].index

In [624]:
master_new.loc[sameindex, 'distance'] = 1000
master_new.loc[sameindex, 'duration'] = 240
master_new.loc[sameindex, 'taxiFare'] = 0

In [625]:
master_new[master_new['distance'] == 0]

,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
16,이태원제1동,신당1동,126.995038,37.532522,127.0145478,37.5620973,이태원제1동신당1동,0,0.0,0
46,이문3동,둔촌제2동,127.065075,37.6033571,127.141922,37.533288,이문3동둔촌제2동,0,0.0,0
128,이문3동,오금동,127.065075,37.6033571,126.9138,37.6674,이문3동오금동,0,0.0,0
170,상도1동,면목3.8동,126.953089,37.4981,127.0880603,37.5829681,상도1동면목3.8동,0,0.0,0
178,상도1동,영등포동,126.953089,37.4981,126.910692,37.520398,상도1동영등포동,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...
32414,영등포동,김포본동,126.910692,37.520398,126.7057,37.6275987,영등포동김포본동,0,0.0,0
32420,제기동,풍무동,127.0378551,37.5831612,126.722039,37.602219,제기동풍무동,0,0.0,0
32428,신대방제2동,신당6동,126.924408,37.498442,127.0194239,37.5600562,신대방제2동신당6동,0,0.0,0
32456,면목3.8동,성수1가제1동,127.0880603,37.5829681,127.04965,37.542108,면목3.8동성수1가제1동,0,0.0,0
32471,송중동,김포본동,127.033738,37.616099,126.7057,37.6275987,송중동김포본동,0,0.0,0

In [626]:
con = (abs(master_new['startlat'].astype(float) - master_new['endlat'].astype(float)) < 0.01) & (abs(master_new['startlng'].astype(float) - master_new['endlng'].astype(float)) < 0.01)

In [627]:
nearbyindex = master_new[con][master_new['distance'] == 0].index

/var/folders/3q/y966c1fj3lndmps8kk3plpy40000gn/T/ipykernel_8376/1023688755.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  nearbyindex = master_new[con][master_new['distance'] == 0].index

In [628]:
master_new[con].describe()

          distance     duration     taxiFare
count  1072.000000  1072.000000  1072.000000
mean   1340.465485   295.327630  2857.061567
std     665.575142   137.429547  1929.368591
min       0.000000     0.000000     0.000000
25%    1000.000000   240.000000     0.000000
50%    1180.000000   257.824000  3800.000000
75%    1678.500000   365.979750  4000.000000
max    4609.000000  1195.282000  7000.000000

In [629]:
master_new.loc[nearbyindex, 'distance'] = 1180
master_new.loc[nearbyindex, 'duration'] = 257.7
master_new.loc[nearbyindex, 'taxiFare'] = 3800

In [630]:
master_new[master_new['distance'] == 0]['direction'].value_counts()

장안1동제기동      3
제기동안암동       2
면목제2동제기동     2
제기동삼선동       2
역삼1동제기동      2
            ..
숭인제2동상도1동    1
동선동김포본동      1
월계2동제기동      1
수서동삼송동       1
송중동김포본동      1
Name: direction, Length: 1711, dtype: int64

In [631]:
master_new

,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,장위제1동,회기동,127.043713,37.614125,127.055313,37.590808,장위제1동회기동,4289,648.464,5600
1,면목제7동,상계1동,127.086985,37.578995,127.054978,37.679901,면목제7동상계1동,14493,1318.675,13700
2,정릉제3동,수유제3동,127.004186,37.608958,127.023125,37.638715,정릉제3동수유제3동,4869,864.161,6200
3,고척제2동,은천동,126.858712,37.506706,126.942428,37.485309,고척제2동은천동,10247,1652.785,11000
4,회기동,장위제2동,127.055313,37.590808,127.054521,37.61239,회기동장위제2동,3778,598.639,5200
...,...,...,...,...,...,...,...,...,...,...
32513,여의동,서초2동,126.934584,37.517723,127.02496,37.49208,여의동서초2동,12440,2427.647,15200
32514,쌍문제4동,아현동,127.028425,37.656482,126.95215,37.547125,쌍문제4동아현동,20739,3568.953,21300
32515,상암동,방화제2동,126.894688,37.578325,126.806755,37.5667,상암동방화제2동,11459,1536.186,13490
32516,반포1동,방배2동,127.013507,37.505089,126.985511,37.479744,반포1동방배2동,5665,1115.243,7200
32517,구의제3동,오남읍,127.09202,37.538071,127.204712,37.698876,구의제3동오남읍,30032,2316.442,29630

In [632]:
master_new = master_new.reset_index(drop = False)

In [815]:
master_new

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,0,장위제1동,회기동,127.043713,37.614125,127.055313,37.590808,장위제1동회기동,4289,648.464,5600
1,1,면목제7동,상계1동,127.086985,37.578995,127.054978,37.679901,면목제7동상계1동,14493,1318.675,13700
2,2,정릉제3동,수유제3동,127.004186,37.608958,127.023125,37.638715,정릉제3동수유제3동,4869,864.161,6200
3,3,고척제2동,은천동,126.858712,37.506706,126.942428,37.485309,고척제2동은천동,10247,1652.785,11000
4,4,회기동,장위제2동,127.055313,37.590808,127.054521,37.61239,회기동장위제2동,3778,598.639,5200
...,...,...,...,...,...,...,...,...,...,...,...
32513,32513,여의동,서초2동,126.934584,37.517723,127.02496,37.49208,여의동서초2동,12440,2427.647,15200
32514,32514,쌍문제4동,아현동,127.028425,37.656482,126.95215,37.547125,쌍문제4동아현동,20739,3568.953,21300
32515,32515,상암동,방화제2동,126.894688,37.578325,126.806755,37.5667,상암동방화제2동,11459,1536.186,13490
32516,32516,반포1동,방배2동,127.013507,37.505089,126.985511,37.479744,반포1동방배2동,5665,1115.243,7200
32517,32517,구의제3동,오남읍,127.09202,37.538071,127.204712,37.698876,구의제3동오남읍,30032,2316.442,29630

In [818]:
redo = pd.read_csv('join용.csv')

In [819]:
redo.columns

Index(['index', 'start', 'end', 'startlat', 'startlng', 'endlat', 'endlng',
       'direction', 'duration', 'distance', 'taxiFare'],
      dtype='object')

In [820]:
redo = redo[['index', 'start', 'end', 'startlat', 'startlng', 'endlat', 'endlng',
       'direction', 'distance', 'duration', 'taxiFare']]

In [821]:
redo

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,2367,이문3동,이문2동,127.065075,37.603357,127.065075,37.603357,이문3동이문2동,1000,240,0
1,12708,전농3동,전농2동,127.060038,37.578103,127.060038,37.578103,전농3동전농2동,1900,360,0
2,14661,하계2동,이문3동,127.067973,37.632005,127.065075,37.603357,하계2동이문3동,4300,780,0
3,14708,장안1동,신촌동,127.066375,37.567842,126.941811,37.564092,장안1동신촌동,24000,2940,0
4,14723,도림동,의정부1동,126.895950,37.509475,127.047577,37.746436,도림동의정부1동,45000,4020,0
...,...,...,...,...,...,...,...,...,...,...,...
1075,32414,영등포동,김포본동,126.910692,37.520398,126.705700,37.627599,영등포동김포본동,6900,1320,0
1076,32420,제기동,풍무동,127.037855,37.583161,126.722039,37.602219,제기동풍무동,3900,720,0
1077,32428,신대방제2동,신당6동,126.924408,37.498442,127.019424,37.560056,신대방제2동신당6동,17000,1860,0
1078,32456,면목3.8동,성수1가제1동,127.088060,37.582968,127.049650,37.542108,면목3.8동성수1가제1동,13000,2640,0
1079,32471,송중동,김포본동,127.033738,37.616099,126.705700,37.627599,송중동김포본동,20000,3540,0

In [822]:
len(redo['index'])

1080

In [823]:
redo['index'].values

array([ 2367, 12708, 14661, ..., 32428, 32456, 32471])

In [861]:
redoindex = []
for i in range(len(redo['index'])):
    val = redo['index'].values[i]
    redoindex.append(val)

In [862]:
master_new_drop = master_new.drop(redoindex)

In [863]:
master_direction_before = pd.concat([master_new_drop,redo], axis = 0)

In [871]:
ms = master_direction_before.drop('index', axis = 1).reset_index(drop=True)

In [873]:
ms[ms['distance']==0].index

Int64Index([   16,    46,   128,   170,   178,   191,   253,   258,   268,
              287,
            ...
            14531, 14542, 14551, 14553, 14575, 14586, 14595, 14610, 14638,
            14656],
           dtype='int64', length=697)

In [876]:
ms = ms.drop(dibeforeindx)

In [885]:
againjoin = pd.read_csv('againagain.csv')
againjoin
againjoin.columns = ['index', 'start', 'end', 'startlat', 'startlng', 'endlat',
       'endlng', 'direction', 'distance', 'duration', 'taxiFare']
aj = againjoin[['start', 'end', 'startlat', 'startlng', 'endlat',
       'endlng', 'direction', 'distance', 'duration', 'taxiFare']]
aj.head()

,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,이태원제1동,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동,18000,840,0
1,이문3동,둔촌제2동,127.065075,37.603357,127.141922,37.533288,이문3동둔촌제2동,14000,1980,0
2,이문3동,오금동,127.065075,37.603357,126.913800,37.667400,이문3동오금동,23000,3000,0
3,상도1동,면목3.8동,126.953089,37.498100,127.088060,37.582968,상도1동면목3.8동,20000,2220,0
4,상도1동,영등포동,126.953089,37.498100,126.910692,37.520398,상도1동영등포동,5600,900,0

In [887]:
final = pd.concat([ms, aj], axis = 0)

In [890]:
final

,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,장위제1동,회기동,127.043713,37.614125,127.055313,37.590808,장위제1동회기동,4289,648.464,5600
1,면목제7동,상계1동,127.086985,37.578995,127.054978,37.679901,면목제7동상계1동,14493,1318.675,13700
2,정릉제3동,수유제3동,127.004186,37.608958,127.023125,37.638715,정릉제3동수유제3동,4869,864.161,6200
3,고척제2동,은천동,126.858712,37.506706,126.942428,37.485309,고척제2동은천동,10247,1652.785,11000
4,회기동,장위제2동,127.055313,37.590808,127.054521,37.61239,회기동장위제2동,3778,598.639,5200
...,...,...,...,...,...,...,...,...,...,...
692,상도1동,광희동,126.953089,37.4981,127.005062,37.564494,상도1동광희동,11000,1440.000,0
693,상도1동,신대방제2동,126.953089,37.4981,126.924408,37.498442,상도1동신대방제2동,3200,600.000,0
694,장안1동,답십리제1동,127.066375,37.567842,127.051268,37.571796,장안1동답십리제1동,2600,420.000,0
695,답십리4동,사근동,127.06125,37.567417,127.045332,37.561485,답십리4동사근동,3500,600.000,0
696,상도1동,공항동,126.953089,37.4981,126.810144,37.55883,상도1동공항동,20000,1800.000,0

In [891]:
final[final['distance'] == 0].to_csv('remain.csv', index = False, encoding = 'utf-8')

In [896]:
x = final[final['distance'] == 0]
x = x.drop(['distance', 'duration', 'taxiFare'], axis=1)

In [917]:
y = pd.merge(x, againj, on = 'direction', how = 'right')

In [931]:
y[y['start'].isna()]['direction']

0      이태원제1동신당1동
1       이문3동둔촌제2동
2         이문3동오금동
3      상도1동면목3.8동
4        상도1동영등포동
          ...
662       황학동신당3동
688     천호제3동김포본동
691     정릉제1동신당6동
694     명륜3가성산제2동
698     성산제2동상도1동
Name: direction, Length: 127, dtype: object

In [902]:
againj = againjoin[['direction', 'distance', 'duration', 'taxiFare']]

# againjoin

In [899]:
againjoin = pd.read_csv('againagain.csv')
againjoin
againjoin.columns = ['index', 'start', 'end', 'startlat', 'startlng', 'endlat',
       'endlng', 'direction', 'distance', 'duration', 'taxiFare']

In [807]:
againjoin.columns

Index(['Unnamed: 0', 'start', 'end', 'startlat', 'startlng', 'endlat',
       'endlng', 'direction', 'distance', 'duration', 'taxiFare'],
      dtype='object')

In [808]:
againjoin.columns = ['index', 'start', 'end', 'startlat', 'startlng', 'endlat',
       'endlng', 'direction', 'distance', 'duration', 'taxiFare']

In [ ]:
againjoin.loc[:,'index'] = X

In [809]:
againjoin

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,16,이태원제1동,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동,18000,840,0
1,46,이문3동,둔촌제2동,127.065075,37.603357,127.141922,37.533288,이문3동둔촌제2동,14000,1980,0
2,128,이문3동,오금동,127.065075,37.603357,126.913800,37.667400,이문3동오금동,23000,3000,0
3,170,상도1동,면목3.8동,126.953089,37.498100,127.088060,37.582968,상도1동면목3.8동,20000,2220,0
4,178,상도1동,영등포동,126.953089,37.498100,126.910692,37.520398,상도1동영등포동,5600,900,0
...,...,...,...,...,...,...,...,...,...,...,...
692,14586,상도1동,광희동,126.953089,37.498100,127.005062,37.564494,상도1동광희동,11000,1440,0
693,14595,상도1동,신대방제2동,126.953089,37.498100,126.924408,37.498442,상도1동신대방제2동,3200,600,0
694,14610,장안1동,답십리제1동,127.066375,37.567842,127.051268,37.571796,장안1동답십리제1동,2600,420,0
695,14638,답십리4동,사근동,127.061250,37.567417,127.045332,37.561485,답십리4동사근동,3500,600,0
696,14656,상도1동,공항동,126.953089,37.498100,126.810144,37.558830,상도1동공항동,20000,1800,0

In [813]:
pd.concat([againjoin, master_direction_before], axis = 0)

,index,start,end,startlat,startlng,endlat,endlng,direction,distance,duration,taxiFare
0,16,이태원제1동,신당1동,126.995038,37.532522,127.014548,37.562097,이태원제1동신당1동,18000,840.0,0
1,46,이문3동,둔촌제2동,127.065075,37.603357,127.141922,37.533288,이문3동둔촌제2동,14000,1980.0,0
2,128,이문3동,오금동,127.065075,37.603357,126.9138,37.6674,이문3동오금동,23000,3000.0,0
3,170,상도1동,면목3.8동,126.953089,37.4981,127.08806,37.582968,상도1동면목3.8동,20000,2220.0,0
4,178,상도1동,영등포동,126.953089,37.4981,126.910692,37.520398,상도1동영등포동,5600,900.0,0
...,...,...,...,...,...,...,...,...,...,...,...
31782,32414,영등포동,김포본동,126.910692,37.520398,126.7057,37.627599,영등포동김포본동,6900,1320.0,0
31783,32420,제기동,풍무동,127.037855,37.583161,126.722039,37.602219,제기동풍무동,3900,720.0,0
31784,32428,신대방제2동,신당6동,126.924408,37.498442,127.019424,37.560056,신대방제2동신당6동,17000,1860.0,0
31785,32456,면목3.8동,성수1가제1동,127.08806,37.582968,127.04965,37.542108,면목3.8동성수1가제1동,13000,2640.0,0
31786,32471,송중동,김포본동,127.033738,37.616099,126.7057,37.627599,송중동김포본동,20000,3540.0,0