In [76]:
import glob
import pandas as pd

In [89]:
paths = glob.glob('장애인등록 장애유형별 성별 장애인수(201801_202205)/*.csv')

In [90]:
len(paths)

53

In [91]:
paths[0]

'장애인등록 장애유형별 성별 장애인수(201801_202205)/201808.csv'

In [92]:
df = pd.read_csv(paths[0], encoding = 'cp949')
df['통계년월'].values[1]

201808

In [93]:
val = df['통계년월'].values[1]
df = df[df['통계시도명'] == '서울특별시'].groupby('통계시군구명').sum()['등록장애인수'].reset_index()
df['년도'] = val
df

   통계시군구명  등록장애인수      년도
0     강남구   15385  201808
1     강동구   17360  201808
2     강북구   17474  201808
3     강서구   28732  201808
4     관악구   20237  201808
5     광진구   12552  201808
6     구로구   17466  201808
7     금천구   11114  201808
8     노원구   27448  201808
9     도봉구   15345  201808
10   동대문구   15901  201808
11    동작구   14546  201808
12    마포구   13218  201808
13   서대문구   12591  201808
14    서초구   10733  201808
15    성동구   11877  201808
16    성북구   17371  201808
17    송파구   19901  201808
18    양천구   17273  201808
19   영등포구   14336  201808
20    용산구    8107  201808
21    은평구   21459  201808
22    종로구    5993  201808
23     중구    5672  201808
24    중랑구   20092  201808

In [94]:
for i in range(len(paths)):
    globals()['df'+str(i)] = pd.read_csv(paths[i], encoding = 'cp949')
    val = globals()['df'+str(i)]['통계년월'].values[1]
    globals()['df'+str(i)] = globals()['df'+str(i)][globals()['df'+str(i)]['통계시도명'] == '서울특별시'].groupby('통계시군구명').sum()['등록장애인수'].reset_index()
    globals()['df'+str(i)]['년도'] = val

In [96]:
len(paths)

53

In [108]:
for i in range(0,1):
     DF1 = pd.concat([globals()['df'+str(i)], 
                    globals()['df'+str(i+1)], 
                    globals()['df'+str(i+2)], 
                    globals()['df'+str(i+3)], 
                    globals()['df'+str(i+4)], 
                    globals()['df'+str(i+5)],
                    globals()['df'+str(i+6)], 
                    globals()['df'+str(i+7)], 
                    globals()['df'+str(i+8)],
                    globals()['df'+str(i+9)], 
                    globals()['df'+str(i+10)], 
                    globals()['df'+str(i+11)], 
                    globals()['df'+str(i+12)], 
                    globals()['df'+str(i+13)], 
                    globals()['df'+str(i+14)], 
                    globals()['df'+str(i+15)],
                    globals()['df'+str(i+16)], 
                    globals()['df'+str(i+17)], 
                    globals()['df'+str(i+18)],
                    globals()['df'+str(i+19)], 
                   ], axis = 0)
DF1

   통계시군구명  등록장애인수      년도
0     강남구   15385  201808
1     강동구   17360  201808
2     강북구   17474  201808
3     강서구   28732  201808
4     관악구   20237  201808
..    ...     ...     ...
20    용산구    8016  202007
21    은평구   21758  202007
22    종로구    6057  202007
23     중구    5705  202007
24    중랑구   20411  202007

[500 rows x 3 columns]

In [109]:
for i in range(20,21):
     DF2 = pd.concat([globals()['df'+str(i)], 
                    globals()['df'+str(i+1)], 
                    globals()['df'+str(i+2)], 
                    globals()['df'+str(i+3)], 
                    globals()['df'+str(i+4)], 
                    globals()['df'+str(i+5)],
                    globals()['df'+str(i+6)], 
                    globals()['df'+str(i+7)], 
                    globals()['df'+str(i+8)],
                    globals()['df'+str(i+9)], 
                    globals()['df'+str(i+10)], 
                    globals()['df'+str(i+11)], 
                    globals()['df'+str(i+12)], 
                    globals()['df'+str(i+13)], 
                    globals()['df'+str(i+14)], 
                    globals()['df'+str(i+15)],
                    globals()['df'+str(i+16)], 
                    globals()['df'+str(i+17)], 
                    globals()['df'+str(i+18)],
                    globals()['df'+str(i+19)], 
                   ], axis = 0)
DF2

   통계시군구명  등록장애인수      년도
0     강남구   15320  202004
1     강동구   18026  202004
2     강북구   17562  202004
3     강서구   28867  202004
4     관악구   20288  202004
..    ...     ...     ...
20    용산구    7859  202105
21    은평구   21758  202105
22    종로구    5971  202105
23     중구    5675  202105
24    중랑구   20395  202105

[500 rows x 3 columns]

In [110]:
for i in range(40,41):
     DF3 = pd.concat([globals()['df'+str(i)], 
                    globals()['df'+str(i+1)], 
                    globals()['df'+str(i+2)], 
                    globals()['df'+str(i+3)], 
                    globals()['df'+str(i+4)], 
                    globals()['df'+str(i+5)],
                    globals()['df'+str(i+6)], 
                    globals()['df'+str(i+7)], 
                    globals()['df'+str(i+8)],
                    globals()['df'+str(i+9)], 
                    globals()['df'+str(i+10)], 
                    globals()['df'+str(i+11)], 
                    globals()['df'+str(i+12)]
                   ], axis = 0)
DF3

   통계시군구명  등록장애인수      년도
0     강남구   15219  202111
1     강동구   18597  202111
2     강북구   17400  202111
3     강서구   28590  202111
4     관악구   20200  202111
..    ...     ...     ...
20    용산구    8093  201806
21    은평구   21403  201806
22    종로구    5977  201806
23     중구    5684  201806
24    중랑구   20029  201806

[325 rows x 3 columns]

In [116]:
all = pd.concat([DF1, DF2, DF3], axis = 0)

In [118]:
all.to_csv('전체등록장애인수.csv', index = False, encoding = 'utf-8')

In [119]:
all.head()

  통계시군구명  등록장애인수      년도
0    강남구   15385  201808
1    강동구   17360  201808
2    강북구   17474  201808
3    강서구   28732  201808
4    관악구   20237  201808

In [121]:
all.shape

(1325, 3)

In [122]:
1325/25

53.0